---
# ----- Project

Standard: c++20
ColumnLimit: 80
BasedOnStyle: Microsoft 

# ----- Indent

AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentWidth: 4
IndentWrappedFunctionNames: true
TabWidth: 4
# NamespaceIndentation: All
IndentPPDirectives: BeforeHash

# ----- Break

BreakConstructorInitializers: BeforeComma

# ------ Alignment

AlignConsecutiveAssignments: Consecutive
PointerAlignment: Left
AlignAfterOpenBracket: Align

# ----- Namespaces
FixNamespaceComments: true

# ----- Spaces
SpaceAroundPointerQualifiers: Default